#header{
    position: relative;
    height: 750px;
}

#header-img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 750px;
    left: 0;
    right: 0;
    top: 0;
}

#header-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
}

#logo{
    width: 70px;
}

#title{
    margin-top: 25px;
    font-size: 37px;
}

#title1{
    font-size: 37px;
    margin-top: 15px;
}

#paragraph{
    font-size: 10px;
    letter-spacing: 0.05em;
    font-weight: 500
}

#mouse-click{
    width: 17px;
    margin-top: 205px;
}


#about-h{
    font-size: 30px;
}

.about-p{
    text-align: center;
}

#services-img{
    position: relative;
    object-fit: cover;
    width: 100%;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ourServices{
    position: absolute;
    color: white;
    text-align: center;
}

#what{
    text-align: center;
    font-size: 30px;
}

.s-d-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.design{
    width: 400px;
}

.dev{
    width: 400px;
}

.p-mgt{
    width: 400px;
}

.design-icon{
    text-align: center;
}

.dev-icon{
    text-align: center;
}

.p-mgt-icon{
    text-align: center;
}

.design-p{
    position: absolute;
    width: 400px;
    font-size: 14px;
    margin-top: -100px;
    display: none;
}

.dev-p{
    position: absolute;
    width: 400px;
    font-size: 14px;
    margin-top: -90px;
    display: none;
}

.p-mgt-p{
    width: 400px;
    font-size: 14px;
    margin-top: -35px;
    display: none;
}

.icon-tag{
    font-size: 18px;
    padding: 5px;
}

.icon-tag1{
    font-size: 16px;
}

.portfolio{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#portfolio-h{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.p-img{
    width: 280px;
    padding: 8px;
}


.img1-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

.img-miw{
    transition: all ease-in-out .6s;
}


.img-filter{
    filter: brightness(20%);
}

.img2-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

#img2-box{
    display: none;
}

.img-arch{
    transition: all ease-in-out .6s;
}



.img3-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

.img-ds{
    transition: all ease-in-out .6s;
}


.img4-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

.img-rr{
    transition: all ease-in-out .6s;
}

.img5-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

.img-taa{
    transition: all ease-in-out .6s;
}


.img6-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px;
    cursor: pointer;
    display: none;
}

.img-lp{
    transition: all ease-in-out .6s;
}


.img7-box{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px; 
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    text-transform: uppercase;
    margin-left: 35px;
    margin-top: 32px; 
    cursor: pointer;
    display: none;
}

.img-andrea{
    transition: all ease-in-out .6s;
}


.bailey-img{
    position: relative;
    transition: all ease-in-out .6s;
}

#bailey-div{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px;
    margin-left: -245px;
    margin-top: 32px;
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    cursor: pointer;
}

.bailey-show{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px;
    margin-left: -245px;
    margin-top: 32px;
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
    display: none;
}

.bailey-filter{
    filter: brightness(20%);
}


.contactUs{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bg{
    position: relative;
    height: 550px;
}

.contact-body{
    position: absolute;
    z-index: 3;
    margin: 50px;
}

#contact-title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}


.form{
  display: flex;
  flex-direction: column;
}

input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Crimson Text',serif;
    letter-spacing: .025em;
}

input:focus{
    outline: none;
    background: transparent;
}


input::placeholder{
    color: white;
    padding: 10px;
}
    
.text{
    width: 450px;
    height: 35px;
    margin: 25px;
    padding: 10px;
}

#message{
    width: 930px;
    padding: 10px;
    padding-bottom: 200px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    width: 160px;
    height: 55px;
    display: block;
    margin: auto;
    transition: all ease .5s;
    outline: none;
}

#button:hover{
    background-color: red;
    border: 1px solid transparent;
    border-radius: 6px;
    animation: colors .6s linear;
    transition: all ease .5s;
}

@keyframes colors{
    50% {
        background: linear-gradient(70deg, red, transparent);
    }

    100%{
        background: linear-gradient(70deg, transparent, red);
    }
}

.social-icons{
    margin-top: 35px;
    display: flex;
    justify-content:center;
}

.icon{
    padding: 15px;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

.error{
    border: 1px solid red;
}

.name-error{
    position: absolute;
    color: #ff4444;
    margin-left: 200px;
    display: none;
}

.email-error{
     position: absolute;
     color: #ff4444;
     margin-left: 670px;
     display: none;
}

.message-error{
    position: absolute;
    color: #ff4444;
    margin-left: 60px;
    margin-top: -24px;
    display: none;
}

.text-errors{
    display: flex;
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    #header{
        height: 270px;
    }
    
    
    #header-img{
        height: 300px;
    }

    #header-content{
        margin-top: 40px;
    }

    #logo{
        width: 35px;
    }
    
    #title{
        margin-top: 7px;
        font-size: 23px;
    }
    
    #title1{
        margin-top: 7px;
        font-size: 23px;
    }

    #paragraph{
        font-size: 6px;
    }
    
    #mouse-click{
        position: absolute;
        width: 9px;
        margin-top: 280px;
    }

    #about-h{
        font-size: 17px;
    }
    
    .about-p{
        text-align: center;
        font-size: 7px;
    }

    #s-title{
        font-size: 17px;
    }

    .ourServices{
        margin-top: 20px;
        font-size: 8px;
    }

    #what{
        margin-top: 11px;
        font-size: 17px;
    }

    .s-d-icons{
        margin-top: 10px;
    }
    
    .design-p{
        width: 160px;
        font-size: 6px;
        margin-top: -40px;
    }
    
    .dev-p{
        width: 160px;
        font-size: 6px;
        margin-top: -40px;
    }
    
    .p-mgt-p{
        width: 160px;
        font-size: 6px;
        margin-top: -1px;
    }
    

    .icon-tag1{
        font-size: 10px;
    }

    .icon-tag{
        font-size: 8px;
        margin-left: 60px;
    }

    .design-img{
        width: 50px;
    }

    .dev-img{
        width: 50px;
    }

    .mgt-img{
        width: 50px;
    }

    .portfolio{
        margin-top: 10px;
    }
    
    #portfolio-h{
        font-size: 17px;
    }
    
    .p-img{
        width: 100px;
        padding: 2px;
    }
    

    .img1-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img1-text{
        font-size: 9px;
    }

    .img2-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img2-text{
        font-size: 9px;
    }

    .img3-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img3-text{
        font-size: 9px;
    }

    .img4-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img4-text{
        font-size: 9px;
    }

    .img5-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img5-text{
        font-size: 9px;
    }

    .img6-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img6-text{
        font-size: 9px;
    }

    .img7-box{
        width: 70px;
        height: 63px;
        margin-left: 15px;
        margin-top: 10px;
        padding: 2px;
   }

    #img7-text{
        font-size: 9px;
    }

    
    #bailey-div{
        width: 70px;
        height: 63px;
        margin-left: -85px;
        margin-top: 10px;
        padding: 7px;
    }

    #bailey-text{
        font-size:9px;
    }

    .p-img2{
        margin-top: 9px;
    }


    .contactUs{
        margin-top: 30px;
    }
    
    .contact-body{
        margin: 6px;
    }
    
    #contact-title{
        font-size: 17px;
    }

    .contact-bg{
        height: 265px;
    }
    
    input::placeholder{
        padding: 3px;
    }
        
    .text{
        width: 180px;
        margin: 15px;
    }
    
    #message{
        width: 400px;
        padding-bottom: 70px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    #button{
        width: 80px;
        height: 33px;
        font-size: 8px;
    }

    .social-icons{
        margin-top: 9px;
    }
    
    .icon{
        padding: 8px;
        width: 40px;
    }
    
    .copyright{
        margin-top: 1px;
        font-size: 11px;
    }

    .name-error{
        margin-left: 65px;
        font-size: 9px;
    }
    
    .email-error{
         margin-left: 280px;
         font-size: 9px;
    }

    .message-error{
        margin-top: -13px;
        margin-left: 16px;
        font-size: 9px;
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #header{
        height: 370px;
    }
    
    
    #header-img{
        height: 400px;
    }

    #header-content{
        margin-top: 50px;
    }

    #logo{
        width: 42px;
    }
    
    #title{
        margin-top: 10px;
        font-size: 28px;
    }
    
    #title1{
        margin-top: 10px;
        font-size: 28px;
    }

    #paragraph{
        font-size: 8px;
    }
    
    #mouse-click{
        position: absolute;
        width: 11px;
        margin-top: 360px;
    }

    #about-h{
        font-size: 20px;
    }
    
    .about-p{
        text-align: center;
        font-size: 8px;
    }

    #s-title{
        font-size: 20px;
    }

    .ourServices{
        margin-top: 30px;
        font-size: 9px;
    }

    #what{
        margin-top: 15px;
        font-size: 20px;
    }
    .s-d-icons{
        margin-top: 10px;
    }
    
    .design-p{
        width: 170px;
        font-size: 8px;
        margin-top: -50px;
    }
    
    .dev-p{
        width: 170px;
        font-size: 8px;
        margin-top: -50px;
    }
    
    .p-mgt-p{
        width: 170px;
        font-size: 8px;
        margin-top: -1px;
    }
    

    .icon-tag1{
        font-size: 10px;
    }

    .icon-tag{
        font-size: 9px;
        margin-left: 70px;
    }

    .design-img{
        width: 55px;
    }

    .dev-img{
        width: 55px;
    }

    .mgt-img{
        width: 55px;
    }

    .portfolio{
        margin-top: 20px;
    }
    
    #portfolio-h{
        font-size: 20px;
    }
    
    .p-img{
        width: 130px;
        padding: 4px;
    }


    .img1-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img1-text{
        font-size: 11px;
    }

    .img2-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img2-text{
        font-size: 11px;
    }

    .img3-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img3-text{
        font-size: 11px;
    }

    .img4-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img4-text{
        font-size: 11px;
    }

    .img5-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img5-text{
        font-size: 11px;
    }

    .img6-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img6-text{
        font-size: 11px;
    }
    .img7-box{
        width: 90px;
        height: 80px;
        margin-left: 20px;
        margin-top: 13px;
        padding: 5px;
   }

    #img7-text{
        font-size: 11px;
    }
    
    #bailey-div{
        width: 90px;
        height: 80px;
        margin-left: -111px;
        margin-top: 15px;
        padding: 10px;
    }

    #bailey-text{
        font-size:12px;
    }

    .p-img2{
        margin-top: 9px;
    }

    .contactUs{
        margin-top: 40px;
    }
    
    .contact-body{
        margin: 10px;
    }
    
    #contact-title{
        font-size: 20px;
    }

    .contact-bg{
        height: 310px;
    }
    
    input::placeholder{
        padding: 5px;
    }
        
    .text{
        width: 230px;
        margin: 15px;
    }
    
    #message{
        width: 500px;
        padding-bottom: 100px;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    
    #button{
        width: 120px;
        height: 40px;
        font-size: 13px;
    }

    .social-icons{
        margin-top: 13px;
    }
    
    .icon{
        padding: 8px;
        width: 50px;
    }
    
    .copyright{
        margin-top: 6px;
        font-size: 13px;
    }

    .name-error{
        margin-left: 75px;
        margin-top: -7px;
        font-size: 11px;
    }
    
    .email-error{
         margin-left: 330px;
         font-size: 11px;
         margin-top: -7px;
    }

    .message-error{
        margin-top: -16px;
        margin-left: 16px;
        font-size: 11px;
    }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    #header{
        height: 470px;
    }
    
    
    #header-img{
        height: 490px;
    }

    #header-content{
        margin-top: 50px;
    }

    #logo{
        width: 55px;
    }
    
    #title{
        margin-top: 20px;
        font-size: 30px;
    }
    
    #title1{
        margin-top: 15px;
        font-size: 30px;
    }

    #paragraph{
        font-size: 9px;
    }
    
    #mouse-click{
        position: absolute;
        width: 13px;
        margin-top: 510px;
    } 

    #about-h{
        font-size: 24px;
    }
    
    .about-p{
        text-align: center;
        font-size: 11px;
    }

    #services-img{
        position: relative;
        object-fit: cover;
        width: 100%;
        margin-top: 25px;
    }

    #s-title{
        font-size: 24px;
    }

    .ourServices{
        margin-top: 50px;
        font-size: 12px;
    }

    #what{
        margin-top: 23px;
        font-size: 24px;
    }

    .s-d-icons{
        margin-top: 30px;
    }
    
    .design-p{
        width: 250px;
        font-size: 11px;
        margin-top: -75px;
    }
    
    .dev-p{
        width: 250px;
        font-size: 11px;
        margin-top: -75px;
    }
    
    .p-mgt-p{
        width: 250px;
        font-size: 11px;
        margin-top: -20px;
    }
    
    .design-icon{
        text-align: center;
    }

    .icon-tag1{
        font-size: 15px;
    }

    .design-img{
        width: 60px;
    }

    .dev-img{
        width: 60px;
    }

    .mgt-img{
        width: 60px;
    }

    .icon-tag{
        font-size: 14px;
        margin-left: 90px;
    }


    .portfolio{
        margin-top: 35px;
    }
    
    #portfolio-h{
        font-size: 24px;
    }
    
    .p-img{
        width: 170px;
        padding: 7px;
    }

    .img1-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img1-text{
        font-size: 15px;
    }

    .img2-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img2-text{
        font-size: 15px;
    }

    .img3-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img3-text{
        font-size: 15px;
    }

    .img4-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img4-text{
        font-size: 15px;
    }

    .img5-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img5-text{
        font-size: 15px;
    }

    .img6-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img6-text{
        font-size: 15px;
    }
    .img7-box{
        width: 120px;
        height: 100px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img7-text{
        font-size: 14px;
    }
    
    #bailey-div{
        width: 120px;
        height: 100px;
        margin-left: -145px;
        margin-top: 22px;
        padding: 10px;
    }

    #bailey-text{
        font-size:16px;
    }

    .p-img2{
        margin-top: 13px;
    }

    .contactUs{
        margin-top: 50px;
    }
    
    .contact-body{
        margin: 25px;
    }
    
    #contact-title{
        font-size: 24px;
    }

    .contact-bg{
        height: 390px;
    }
    
    input::placeholder{
        padding: 5px;
    }
        
    .text{
        width: 290px;
        margin: 18px;
    }
    
    #message{
        width: 640px;
        padding-bottom: 130px;
        margin-left: 10px;
        margin-bottom: 25px;
    }
    
    #button{
        width: 120px;
        height: 40px;
        font-size: 13px;
    }

    .social-icons{
        margin-top: 17px;
    }
    
    .icon{
        padding: 10px;
        width: 60px;
    }
    
    .copyright{
        margin-top: 10px;
        font-size: 14px;
    }

    .name-error{
        margin-left: 110px;
        margin-top: -7px;
        font-size: 13px;
    }
    
    .email-error{
         margin-left: 420px;
         font-size: 13px;
         margin-top: -7px;
    }

    .message-error{
        margin-top: -20px;
        margin-left: 14px;
        font-size: 13px;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #header{
        height: 600px;
    }
    
    #header-img{
        height: 600px;
    }

    #header-content{
        margin-top: 100px;
    }

    #logo{
        width: 60px;
    }
    
    #title{
        margin-top: 20px;
        font-size: 35px;
    }
    
    #title1{
        margin-top: 15px;
        font-size: 35px;
    }
    
    #mouse-click{
        position: absolute;
        width: 15px;
        margin-top: 600px;
    }

    #about-h{
        font-size: 27px;
    }
    
    .about-p{
        text-align: center;
        font-size: 14px;
    }

    #services-img{
        height: 320px;
    }

    #s-title{
        font-size: 27px;
    }

    .ourServices{
        margin-top: 80px;
        font-size: 15px;
    }

    #what{
        margin-top: 30px;
        font-size: 27px;
    }
    
    .s-d-icons{
        margin-top: 30px;
    }
    
    .design-p{
        width: 300px;
        font-size: 13px;
    }
    
    .dev-p{
        width: 300px;
        font-size: 13px;
    }
    
    .p-mgt-p{
        width: 300px;
        font-size: 13px;
    }
    
    .design-icon{
        text-align: center;
    }

    .icon-tag1{
        font-size: 15px;
    }

    .portfolio{
        margin-top: 60px;
    }
    
    #portfolio-h{
        font-size: 27px;
    }
    
    .p-img{
        width: 240px;
        padding: 7px;
    }
    

    .img1-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
   }

    #img1-text{
        font-size: 22px;
    }

    .img2-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

   #img2-text{
    font-size: 22px;
    }

    .img3-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

   #img3-text{
    font-size: 22px;
    }

    .img4-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

   #img4-text{
    font-size: 22px;
    }

    .img5-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

    #img5-text{
    font-size: 22px;
    }

    .img6-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

   #img6-text{
    font-size: 22px;
    }

    .img7-box{
        width: 190px;
        height: 160px;
        margin-left: 25px;
        margin-top: 20px;
        padding: 10px;
    }

   #img7-text{
    font-size: 22px;
    }
    

    #bailey-div{
        width: 190px;
        height: 160px;
        margin-left: -216px;
        margin-top: 20px;
        padding: 10px;
    }

    #bailey-text{
        font-size: 22px;
    }

    .p-img2{
        margin-top: 17px;
    }
    
    .contactUs{
        margin-top: 60px;
    }
    
    .contact-bg{
        height: 500px;
    }
    
    .contact-body{
        margin: 40px;
    }
    
    #contact-title{
        font-size: 27px;
    }
    
    
    input::placeholder{
        padding: 8px;
    }
        
    .text{
        width: 400px;
        margin: 23px;
    }
    
    #message{
        width: 835px;
        padding-bottom: 200px;
        margin-left: 40px;
        margin-bottom: 25px;
    }
    
    #button{
        width: 150px;
        height: 50px;
        font-size: 15px;
    }

    .social-icons{
        margin-top: 25px;
    }
    
    .icon{
        padding: 12px;
        width: 70px;
    }
    
    .copyright{
        margin-top: 15px;
        font-size: 15px;
    }

    .name-error{
        margin-left: 160px;
        font-size: 15px;
    }
    
    .email-error{
         margin-left: 600px;
         font-size: 15px;
    }

    .message-error{
        font-size: 15px;
    }
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #header-content{
        margin-top: 190px;
    }

    #services-img{
        position: relative;
        object-fit: cover;
        width: 100%;
        margin-top: 45px;
    }

    .ourServices{
        margin-top: 80px;
    }

    #what{
        margin-top: 35px;
    }

    .s-d-icons{
        margin-top: 35px;
    }

    .p-img2{
        margin-top: 20px;
    }
 }