#header{
    position: relative;
    height: 750px;
}

#header-img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 750px;
    left: 0;
    right: 0;
    top: 0;
}

#header-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
}

#logo{
    width: 70px;
}

#title{
    margin-top: 25px;
    font-size: 37px;
}

#title1{
    font-size: 37px;
    margin-top: 15px;
}

#paragraph{
    font-size: 10px;
    letter-spacing: 0.05em;
    font-weight: 500
}

#mouse-click{
    width: 17px;
    margin-top: 205px;
}


#about-h{
    font-size: 30px;
}

.about-p{
    text-align: center;
}

#services-img{
    position: relative;
    object-fit: cover;
    width: 100%;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ourServices{
    position: absolute;
    color: white;
    text-align: center;
}

#what{
    text-align: center;
    font-size: 30px;
}

.s-d-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.design{
    width: 400px;
}

.dev{
    width: 400px;
}

.p-mgt{
    width: 400px;
}

.design-icon{
    text-align: center;
}

.dev-icon{
    text-align: center;
}

.p-mgt-icon{
    text-align: center;
}

.design-p{
    position: absolute;
    width: 400px;
    font-size: 14px;
    margin-top: -100px;
    display: none;
}

.dev-p{
    position: absolute;
    width: 400px;
    font-size: 14px;
    margin-top: -90px;
    display: none;
}

.p-mgt-p{
    width: 400px;
    font-size: 14px;
    margin-top: -35px;
    display: none;
}

.icon-tag{
    font-size: 18px;
    padding: 5px;
}

.icon-tag1{
    font-size: 16px;
}

.portfolio{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#portfolio-h{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.p-img{
    width: 280px;
    padding: 8px;
}


.bailey-img{
    position: relative;
    filter: brightness(20%);
}

#bailey-div{
    position: absolute;
    color: white;
    width: 210px;
    height: 170px;
    margin-left: -245px;
    margin-top: 32px;
    padding: 10px;
    z-index: 3;
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 1px 0px 1px white;
}

.contactUs{
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 70px;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) { 
    #header{
        height: 270px;
    }
    
    
    #header-img{
        height: 300px;
    }

    #header-content{
        margin-top: 40px;
    }

    #logo{
        width: 35px;
    }
    
    #title{
        margin-top: 7px;
        font-size: 23px;
    }
    
    #title1{
        margin-top: 7px;
        font-size: 23px;
    }

    #paragraph{
        font-size: 6px;
    }
    
    #mouse-click{
        position: absolute;
        width: 9px;
        margin-top: 280px;
    }

    #about-h{
        font-size: 17px;
    }
    
    .about-p{
        text-align: center;
        font-size: 7px;
    }

    #s-title{
        font-size: 17px;
    }

    .ourServices{
        margin-top: 20px;
        font-size: 8px;
    }

    #what{
        margin-top: 11px;
        font-size: 17px;
    }

    .s-d-icons{
        margin-top: 10px;
    }
    
    .design-p{
        width: 160px;
        font-size: 6px;
        margin-top: -40px;
    }
    
    .dev-p{
        width: 160px;
        font-size: 6px;
        margin-top: -40px;
    }
    
    .p-mgt-p{
        width: 160px;
        font-size: 6px;
        margin-top: -1px;
    }
    

    .icon-tag1{
        font-size: 10px;
    }

    .icon-tag{
        font-size: 8px;
        margin-left: 60px;
    }

    .design-img{
        width: 50px;
    }

    .dev-img{
        width: 50px;
    }

    .mgt-img{
        width: 50px;
    }

    .portfolio{
        margin-top: 10px;
    }
    
    #portfolio-h{
        font-size: 17px;
    }
    
    .p-img{
        width: 100px;
        padding: 2px;
    }
    
    
    #bailey-div{
        width: 70px;
        height: 63px;
        margin-left: -85px;
        margin-top: 10px;
        padding: 7px;
    }

    #bailey-text{
        font-size:9px;
    }

    .p-img2{
        margin-top: 9px;
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #header{
        height: 370px;
    }
    
    
    #header-img{
        height: 400px;
    }

    #header-content{
        margin-top: 50px;
    }

    #logo{
        width: 42px;
    }
    
    #title{
        margin-top: 10px;
        font-size: 28px;
    }
    
    #title1{
        margin-top: 10px;
        font-size: 28px;
    }

    #paragraph{
        font-size: 8px;
    }
    
    #mouse-click{
        position: absolute;
        width: 11px;
        margin-top: 360px;
    }

    #about-h{
        font-size: 20px;
    }
    
    .about-p{
        text-align: center;
        font-size: 8px;
    }

    #s-title{
        font-size: 20px;
    }

    .ourServices{
        margin-top: 30px;
        font-size: 9px;
    }

    #what{
        margin-top: 15px;
        font-size: 20px;
    }
    .s-d-icons{
        margin-top: 10px;
    }
    
    .design-p{
        width: 170px;
        font-size: 8px;
        margin-top: -50px;
    }
    
    .dev-p{
        width: 170px;
        font-size: 8px;
        margin-top: -50px;
    }
    
    .p-mgt-p{
        width: 170px;
        font-size: 8px;
        margin-top: -1px;
    }
    

    .icon-tag1{
        font-size: 10px;
    }

    .icon-tag{
        font-size: 9px;
        margin-left: 70px;
    }

    .design-img{
        width: 55px;
    }

    .dev-img{
        width: 55px;
    }

    .mgt-img{
        width: 55px;
    }

    .portfolio{
        margin-top: 20px;
    }
    
    #portfolio-h{
        font-size: 20px;
    }
    
    .p-img{
        width: 130px;
        padding: 4px;
    }
    
    
    #bailey-div{
        width: 90px;
        height: 80px;
        margin-left: -111px;
        margin-top: 15px;
        padding: 10px;
    }

    #bailey-text{
        font-size:12px;
    }

    .p-img2{
        margin-top: 9px;
    }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    #header{
        height: 470px;
    }
    
    
    #header-img{
        height: 490px;
    }

    #header-content{
        margin-top: 50px;
    }

    #logo{
        width: 55px;
    }
    
    #title{
        margin-top: 20px;
        font-size: 30px;
    }
    
    #title1{
        margin-top: 15px;
        font-size: 30px;
    }

    #paragraph{
        font-size: 9px;
    }
    
    #mouse-click{
        position: absolute;
        width: 13px;
        margin-top: 510px;
    } 

    #about-h{
        font-size: 24px;
    }
    
    .about-p{
        text-align: center;
        font-size: 11px;
    }

    #services-img{
        position: relative;
        object-fit: cover;
        width: 100%;
        margin-top: 25px;
    }

    #s-title{
        font-size: 24px;
    }

    .ourServices{
        margin-top: 50px;
        font-size: 12px;
    }

    #what{
        margin-top: 23px;
        font-size: 24px;
    }

    .s-d-icons{
        margin-top: 30px;
    }
    
    .design-p{
        width: 250px;
        font-size: 11px;
        margin-top: -75px;
    }
    
    .dev-p{
        width: 250px;
        font-size: 11px;
        margin-top: -75px;
    }
    
    .p-mgt-p{
        width: 250px;
        font-size: 11px;
        margin-top: -20px;
    }
    
    .design-icon{
        text-align: center;
    }

    .icon-tag1{
        font-size: 15px;
    }

    .design-img{
        width: 60px;
    }

    .dev-img{
        width: 60px;
    }

    .mgt-img{
        width: 60px;
    }

    .icon-tag{
        font-size: 14px;
        margin-left: 90px;
    }


    .portfolio{
        margin-top: 35px;
    }
    
    #portfolio-h{
        font-size: 24px;
    }
    
    .p-img{
        width: 170px;
        padding: 7px;
    }
    
    
    #bailey-div{
        width: 120px;
        height: 100px;
        margin-left: -145px;
        margin-top: 22px;
        padding: 10px;
    }

    #bailey-text{
        font-size:16px;
    }

    .p-img2{
        margin-top: 13px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #header{
        height: 600px;
    }
    
    #header-img{
        height: 600px;
    }

    #header-content{
        margin-top: 100px;
    }

    #logo{
        width: 60px;
    }
    
    #title{
        margin-top: 20px;
        font-size: 35px;
    }
    
    #title1{
        margin-top: 15px;
        font-size: 35px;
    }
    
    #mouse-click{
        position: absolute;
        width: 15px;
        margin-top: 600px;
    }

    #about-h{
        font-size: 27px;
    }
    
    .about-p{
        text-align: center;
        font-size: 14px;
    }

    #services-img{
        height: 320px;
    }

    #s-title{
        font-size: 27px;
    }

    .ourServices{
        margin-top: 80px;
        font-size: 15px;
    }

    #what{
        margin-top: 30px;
        font-size: 27px;
    }
    
    .s-d-icons{
        margin-top: 30px;
    }
    
    .design-p{
        width: 300px;
        font-size: 13px;
    }
    
    .dev-p{
        width: 300px;
        font-size: 13px;
    }
    
    .p-mgt-p{
        width: 300px;
        font-size: 13px;
    }
    
    .design-icon{
        text-align: center;
    }

    .icon-tag1{
        font-size: 15px;
    }

    .portfolio{
        margin-top: 60px;
    }
    
    #portfolio-h{
        font-size: 27px;
    }
    
    .p-img{
        width: 240px;
        padding: 7px;
    }
    
    
    #bailey-div{
        width: 190px;
        height: 160px;
        margin-left: -216px;
        margin-top: 20px;
        padding: 10px;
    }

    #bailey-text{
        font-size: 22px;
    }

    .p-img2{
        margin-top: 17px;
    }
    
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #header-content{
        margin-top: 190px;
    }

    #services-img{
        position: relative;
        object-fit: cover;
        width: 100%;
        margin-top: 45px;
    }

    .ourServices{
        margin-top: 80px;
    }

    #what{
        margin-top: 35px;
    }

    .s-d-icons{
        margin-top: 35px;
    }

    .p-img2{
        margin-top: 20px;
    }
 }